/build
/out*.off
/ringboundary.txt
/test.off
/bunnyholeResult.off
/bunnyhole-Copy222.off
/2holesbunny.off
/bunnyhole - Copy.off
/bunnyhole - Copy.off+result
/2holesbunny.offResult.off
/bunnyhole.offResult.off
/TriangleHole.off
/smallLshape.off
/smallLshape.mlp
/l-shape.off
